:root {
    --text-color: rgba(0, 0, 0, 0.8);
    // --text-color: red;
    --text-color-active: rgb(0, 0, 0);
}

html {
    font: 400 18px/1.6 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size-adjust: 0.495;
    color: var(--text-color);
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.brake {
    max-width: 940px;
    padding: 0 2rem;
}

h3 + p {
    margin-top: 0;
}

@import '../imports/ui/pages/index/index.scss';
@import '../imports/ui/components/header/header.scss';
@import '../imports/ui/components/menu/menu.scss';
@import '../imports/ui/components/menu-row/menu-row.scss';
@import '../imports/ui/components/navigation/navigation.scss';
@import '../imports/ui/components/order/order.scss';
