{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "es6": true,
        "node": true,
        "mocha": true,
        "browser": true
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "globals": {
        "PROJECT_ENV": true
    },
    "rules": {
        "import/no-unresolved": "off",
        "import/extensions": ["off", "never"],

        "arrow-body-style": 0,
        "arrow-parens": [2, "as-needed"],
        "class-methods-use-this": 0,
        "comma-dangle": 0,
        "eol-last": 1,
        "indent": [2, 4],
        "linebreak-style": 0,
        "max-len": 0,
        "no-confusing-arrow": 0,
        "no-console": 1,
        "no-empty": [2, { "allowEmptyCatch": true }],
        "no-unused-expressions": [2, { "allowShortCircuit": true }],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/no-named-as-default-member": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/href-no-hash": 0,
        "jsx-a11y/img-has-alt": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-space-before-closing": 1,
        "react/no-array-index-key": 0,
        "react/no-find-dom-node": 0,
        "react/prefer-stateless-function": 1,
        "react/prop-types": [1, { "ignore": ["location", "params"] }],
        "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
        "react/require-default-props": 0,
        "react/sort-comp": 0
    }
}
