.order-form {
    margin-bottom: 15rem;
    padding-bottom: 3rem;

    &__autocomlete {
        border: 1px solid red;
    }

    &__address-search {
        width: 100%;
        font-size: 1rem;
    }

    &__radio {
        display: flex;
        padding-bottom: 1rem;
        width: 100%;

        input {
            margin-top: 6px;
        }
    }

    &__title {
        font: 400 18px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    }

    &__box {
        width: 1.5rem;
        display: flex;
        align-items: baseline;
    }

    &__label {
        display: block;
    }

    &__address {
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }

    &__hint {
        font: 300 16px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    }

    &__buttons {
        padding-top: 1rem;
        text-align: right;

        button {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}
