.order {
    margin-top: 2rem;
    padding-top: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 100%;
    //     z-index: 1;
    //     height: 1rem;
    //     left: 0;
    //     right: 0;
    //     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    // }

    &__box {
        margin: 0 auto;
    }

    &__block {
        margin: 0 auto;
    }

    &__title {
        font-size: 2rem;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 0;
    }

    &__button {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;

        button {
            margin-bottom: 2rem;
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }
}
