.main_menu {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu {
    //grid-column-start: 2;
    //grid-column-end: 3;
    //border: 2px solid #396565;
    display: flex;
}

.headmenu {
    padding: 0.2rem 30px;
    // border: 1px solid red;
    &:first-child {
        padding-left: 0;
    }
}

.menu_list {
    display: flex;
    overflow-x: auto;
    margin-top: 2rem;
}

.menu_list::-webkit-scrollbar {
    display: none;
}

.list {
    max-width: 100%;
    min-width: 100%;
    flex-shrink: 0;
    border-right: none;

    &__box {
        max-width: 700px;
        margin: 0 auto;
    }
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;

    p {
        margin-bottom: 0;

        span {
            font-size: 16px;
            color: #848383;
        }

        .text_span_button {
            cursor: pointer;
        }
    }

    p:first-child {
        width: 84%;
        font-size: 20px;
        color: black;
    }
}

.order {
    width: 794px;
    background-color: rgba(245, 166, 35, 0.1);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.order_block {
    width: 760px;
    height: 150px;
    // border-bottom: 1px dotted;
    margin: 0 auto;
    margin-top: 4rem;
}

.order_block_button {
    width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    button {
        margin-bottom: 2rem;
        margin-right: 1rem;
        order: 1;
    }
}
