.main_menu {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.menu {
    display: flex;
    margin-left: -2rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.menu_list {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    width: 100%;
    max-height: fit-content;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);

    &--snap {
        overflow-x: scroll;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.menu_list .list {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding-top: 3rem;
    flex-shrink: 0;
    border-right: none;
    scroll-snap-align: start;

    &:not(.list__active) .text:nth-child(n + 4) {
        display: none;
    }

    &__box {
        background-color: rgba(250, 255, 175, 0.4);
        margin: 0 auto;
    }
}

.menu_list--scrolled .text {
    display: flex !important;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;

    p {
        margin-bottom: 0;

        span {
            font-size: 16px;
            color: #848383;
        }

        .text_span_button {
            cursor: pointer;
        }
    }

    p:first-child {
        width: 84%;
        font-size: 20px;
        color: black;
    }
}
