.main_menu {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.menu {
    display: flex;
    margin-left: -2rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.menu_list {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    width: 100%;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &--snap {
        overflow-x: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &--scrolled .menu-row {
        display: flex !important;
    }

    .list {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-top: 2rem;
        flex-shrink: 0;
        border-right: none;
        scroll-snap-align: start;

        &:not(.list__active) .menu-row:nth-child(n + 4) {
            display: none;
        }

        &__box {
            // background-color: rgba(250, 255, 175, 0.4);
            margin: 0 auto;
        }
    }
}
