.header__box {
    margin: 0 auto;
}

.header_wrapper {
    width: 100%;
    padding: 3rem 0 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_number {
    margin-left: 35%;
}
