.header__box {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2.5rem;
}

.header__wrapper {
    width: 100%;
    display: flex;
}

.header__info {
    align-self: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
        display: flex;
        list-style: none;
        li:first-child {
            margin-right: 0.5rem;
        }
    }
}

.header__icon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}
