.order-form {
    margin-bottom: 15rem;
    padding-bottom: 3rem;

    &__autocomlete {
        padding-top: 1rem;
    }

    &__map {
        margin-bottom: 1rem;
    }

    &__field {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    &__address-search {
        width: 100%;
        max-width: 30rem;
        font-size: 1rem;
    }

    &__radio {
        display: flex;
        padding-bottom: 1rem;
        width: 100%;

        input {
            margin-top: 6px;
        }
    }

    &__title {
        font: 400 18px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    }

    &__box {
        width: 1.5rem;
        display: flex;
        align-items: baseline;
    }

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__address {
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }

    &__hint {
        font: 300 16px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    }

    &__buttons {
        padding-top: 1rem;
        text-align: right;

        button {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }

    &__exist-address {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font: 300 18px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
        padding: 0.2rem 0;
        margin: 0.3rem 0 0.3rem;
        background-color: #fff;
        cursor: pointer;
    }
}
