html:not(.mdl-js) .menu-row__order {
    display: none;
}

.menu-row {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: column;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 20px;

    &__content {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__action {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-start;
    }

    &__price {
        font-size: 20px;
        line-height: 20px;
    }

    &__title,
    &__price {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__title {
        font-size: 18px;
        width: 100%;
        position: relative;
        line-height: 20px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 4px;
            top: 15px;
            height: 1px;
            border-bottom: 1px dashed var(--text-color-active);
        }
    }

    &__wraptitle {
        background-color: #ffffff;
        padding-right: 4px;
        position: relative;
        z-index: 1;
    }

    &__hr {
        height: 1px;
        background: var(--text-color-active);
        width: 100%;
    }

    &__price {
        text-align: right;
        white-space: nowrap;
        display: flex;
    }

    &__text,
    &__order {
        font: 300 16px/18px 'Helvetica Neue', 'Helvetica', 'Arial', serif;
    }

    &__text {
        margin: 0;
        padding-right: 1rem;
        max-width: 34rem;
    }

    &__order {
        display: inline-block;
        cursor: pointer;

        &::selection {
            background: none;
        }
    }

    &__order:nth-child(n + 2) {
        margin-left: 0.7rem;
    }

    &__box {
        white-space: nowrap;
        display: flex;
    }
}

.price {
    &__box {
        font-size: 0.8rem;
        font-weight: 300;
        display: flex;
    }

    &__length {
        // font-size: 0.8rem;
    }

    &__x {
        // font-weight: 300;
        // font-size: 0.8rem;
    }

    &__price {
        padding-right: 0.5rem;
    }
}
