.index {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    // background-color: black;
    // color: #fff !important;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(#ccd0ff 1px, transparent 1px);
    background-size: 100% 1rem;
}
