.nav {
    background-color: rgba(233, 244, 122, 0.4);
    margin: 0 auto;
    position: relative;
    bottom: -2rem;

    &_scroll_border {
        width: 100%;
        border-bottom: 1px solid black;
        position: absolute;
        top: 1.6rem;
    }
}

.nav__menu {
    margin: 0 auto;
    position: relative;
    bottom: -2rem;

    & a {
        text-decoration: none;
    }
}
.headmenu {
    padding: 0.2rem 30px;

    &:first-child {
        padding-left: 0;
    }

    &__active {
        border-bottom: 4px solid black;
    }
}
