.nav {
    background-color: rgba(233, 244, 122, 0.4);
    margin: 0 auto;
    position: relative;
    bottom: -2rem;
}

.nav__menu {
    margin: 0 auto;
}

.headmenu {
    padding: 0.2rem 30px;

    &:first-child {
        padding-left: 0;
    }

    &__active {
        color: red;
    }
}
