.nav {
    margin: -3rem auto 0;
    position: relative;
    z-index: 99;

    &_scroll_border {
        position: absolute;
        top: 72px;
        width: 100%;
        border-bottom: 1px solid var(--text-color-active);
    }

    &__baloon {
        width: 2rem;
        background: red;
    }

    &__scroll {
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        display: flex;
        justify-content: space-between;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (overflow-inline: scroll) {
            .pn-Advancer {
                opacity: 1;
            }
        }
    }

    &__menu {
        margin: 0 auto;
        position: relative;
        bottom: -2.3rem;
        padding: 0;

        @media (max-width: 940px + (18px * 2)) {
            max-width: none;
            // margin-right: 1rem;
        }
    }
}

.headmenu {
    display: flex;
    white-space: nowrap;

    &:not(:last-child) {
        padding-right: 2rem;
    }

    &__active a {
        border-bottom: 7px solid var(--text-color-active) !important;
    }

    a {
        font-size: 18px;
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 7px solid transparent;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;

        span::selection {
            background-color: #f0ff1d;
        }
    }

    a:hover {
        color: var(--text-color-active);
    }

    @media (max-width: 940px + (18px * 2)) {
        padding-right: 1.5rem;

        &:last-child {
            padding-right: 2rem;
        }

        &:first-child {
            margin-left: 2rem;
        }
    }
}
